.navbar-menu {
  background-color: rgb(63, 51, 90);
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 7px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.navbar-item {
  padding: 1% 2%;
  text-decoration: none;
  text-align: center;
  outline: none;
  font-size: 130%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: none;
  border-radius: 5%;
}

.navbar-item:link {
  color: white;
}

.navbar-item:visited {
  color: white;
}
